/* barlow-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Barlow";
	font-style: normal;
	font-weight: 400;
	src: url("barlow-v12-latin-regular.woff2") format("woff2");
}

/* overpass-regular - latin */
/* @font-face {
	font-display: swap;
	font-family: "Overpass";
	font-style: normal;
	font-weight: 400;
	src: url("overpass-v12-latin-regular.woff2") format("woff2");
} */

html,
body {
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-color: #2e3440;
	background-image: url(ign_nordhills.png);
	background-size: cover;
	background-position: left bottom;
	display: flex;
	flex-direction: column;
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding-inline: 2.75rem;
	line-height: 0;
	font-family: "Barlow", sans-serif;
}

.info > div {
	display: flex;
	justify-content: left;
	flex-direction: column;
	line-height: 0;
	font-family: "Barlow", sans-serif;
}

#greeting {
	font-size: 34px;
	color: #dee3de;
}

#time {
	font-size: 40px;
	color: #6279b8;
}

.info > form {
	display: flex;
	flex-direction: row;
	align-items: end;
	gap: 0.75rem;
}

.info > form > input[type="search"],
.info > form > button {
	color: #d1dede;
	font-family: "Barlow";
	font-size: inherit;
	font-weight: 400;
	border: 2px solid #eafdf8a0;
	background-color: #434c5ea0;
	border-radius: 0.5rem;
	padding: 0.75rem;
}

.info > form > input[type="search"] {
	width: 40vw;
}

.info > form > button:hover {
	color: #ebcb8b;
	font-style: italic;
}

@media all and (max-width: 600px) {
	.info {
		justify-content: center;
		align-items: center;
		margin-left: 0px;
		margin-top: 30px;
	}
}

.lists {
	flex-grow: 1;

	display: flex;
	flex-wrap: wrap;
	padding-block: 2.25rem;
	vertical-align: center;
	justify-content: center;
	font-family: "Barlow", sans-serif;
}

.list_title {
	font-size: 35px;
}

.watch,
.social,
.dev,
.linux,
.other {
	display: flex;
	flex-direction: column;
	border: 2px solid #eafdf8a0;
	background-color: #434c5ea0;
	border-radius: 12px;
	margin: 5px;
	width: 230px;
	padding: 40px;
}
a {
	transition: color 0.3s ease;
}
a:visited,
a:link,
a:active {
	color: #d1dede;
	text-decoration: none;
	font-size: 33px;
	text-indent: 2px;
	line-height: 1.6;
}
a:hover {
	color: #ebcb8b;
	font-style: italic;
}
#w,
#s,
#d,
#l,
#e {
	color: #6279b8;
}
#mode {
	filter: invert(100%) sepia(0%) saturate(1620%) hue-rotate(8deg) brightness(94%) contrast(88%);
}
#mode:hover {
	filter: invert(56%) sepia(45%) saturate(6917%) hue-rotate(173deg) brightness(96%) contrast(82%) !important;
}
