:root {
	--fg-0: #aaaaac;
	--fg-1: #333333;
	--fg-2: #666666;

	--bg-0: #808080;
	--bg-1: #4c4c4c;
	--bg-2: #1a1a1a;

	--outline: rgba(102, 102, 102, 0.8);
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-color: var(--bg-2);
	background-image: url(artstation-rain-train-grayscale.gif);
	background-size: cover;
	background-position: center center;
	backdrop-filter: brightness(20%);

	color: #a9a9ac;
	font-family: "FiraCode Nerd Font", monospace;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.25rem;

	padding: 3.25rem;
}

#bookmark-groups {
	flex-grow: 1;

	display: flex;
	flex-direction: row;
	font-size: x-large;
}

#bookmark-groups > div {
	display: flex;
	flex-direction: row;
	margin: auto;
	overflow: hidden;

	background-color: #1a1a1aa0;
	border: 2px solid var(--fg-1);
	padding: 0.25rem;

	animation: intro 2s forwards;
}

#bookmark-groups > div > div {
	flex: 1 1 0px;
	width: 0px;
	border-left: 2px solid var(--fg-1);
	border-block: 0;

	display: grid;
	align-content: flex-start;
	justify-items: center;
	padding-block-end: 1rem;
}

#bookmark-groups > div > div:first-child {
	border-left: 0;
}

#bookmark-groups > div > div > p {
	color: #57616a;
}

#bookmark-groups > div > div > a {
	text-decoration: none;
	color: #d0d0d0;
	width: fit-content;
	outline: none;
	padding-inline: 0.5rem;

	white-space: nowrap;
}

#bookmark-groups > div > div > a:hover {
	color: var(--bg-2);
	background-color: #d0d0d0;
}

#bookmark-groups > div > div > a:focus {
	animation: blink 0.35s forwards;
}

#search-form {
	margin-top: auto;
	font-size: x-large;
	color: inherit;

	background-color: #1a1a1aa0;
	border: 2px solid var(--fg-1);
	padding: 0.25rem;
}

#prompt-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
}

#prompt {
	white-space: nowrap;
}

#input-search {
	position: relative;

	color: inherit;
	border: none;
	background-color: transparent;
	outline: none;
	font-size: inherit;
	width: fit-content;
	caret-color: transparent;
	white-space: nowrap;
}

#input-search.invalid {
	color: #e6473b !important;
}

#input-search::after {
	content: " ";
	text-align: right;
	color: red;
	position: absolute;
	top: 0;
	right: -1rem;

	height: 100%;
	width: 1rem;
	background-color: #a9a9ac;
	align-self: stretch;
	opacity: 0;
}

#prompt-wrapper > #status {
	margin-inline-start: auto;
}

#prompt-wrapper > #time {
}

#prompt-wrapper > #input-search:focus::after {
	animation: cursor-animation 2s infinite;
}

#prompt-response > div:nth-child(1) {
	color: red;
}

#prompt-response > div:nth-child(1) > span {
	color: #e6473b;
}

#neofetch {
	position: fixed;
	z-index: 1000;
	inset: 0;

	display: grid;
	place-content: center;
}

#neofetch > pre {
	background-color: #1a1a1a80;
	backdrop-filter: blur(8px);
	padding: 1.25rem;

	font: inherit;
}

@keyframes intro {
	0% {
		height: 100%;
		padding: 0;
		width: 2px;
		background-color: var(--fg-1);
	}

	50% {
		min-height: 20%;
		height: 40%;
		padding: 0;
		background-color: transparent;
		width: 2px;
	}

	100% {
		padding: 0.25rem;
		min-height: 20%;
		height: fit-content;
		width: 100%;
	}
}

@keyframes blink {
	0% {
		color: #d0d0d0;
		background-color: var(--bg-2);
	}

	20% {
		color: var(--bg-2);
		background-color: #d0d0d0;
	}

	40% {
		color: #d0d0d0;
		background-color: var(--bg-2);
	}

	60% {
		color: var(--bg-2);
		background-color: #d0d0d0;
	}

	80% {
		color: #d0d0d0;
		background-color: var(--bg-2);
	}

	100% {
		color: var(--bg-2);
		background-color: #d0d0d0;
	}
}

@keyframes cursor-animation {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.d-none {
	display: none !important;
}
